<%- include('../partials/header'); -%>



	<a href="#openModal">Make A Post</a>
    <a href="/user/userprofile">User name<%= user.username %></a>
    <div id="openModal" class="modalPost">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <form action="/post" method="POST">
        <input type="text" name="caption" placeholder="Post caption"><br>
        <input type="text" name="photoURL" placeholder="photoURL"><br>
        <textarea class="modalTextArea"name="status"></textarea>
        <br><br>
        <input class="modalSubmit" type="submit" value="Post">
        </form>
      </div>
    </div>

	<main>
		<h2>Feed</h2>
		<div id="post">
			
            <% for (let i = 0; i < post.length; i++) {%>
<!-- THIS IS WHERE WE WILL HAVE THE MODALS FOR POSTS -->
<div class="card mb-3">
  <img class="card-img-top" src=<%= post[i].photoURL %> alt="Card image cap">
  <div class="card-body">
    <%=user.username%>
    <h5 class="card-title"><%= post[i].caption %></h5>
    <p class="card-text"><%= post[i].status %></p>
    <p class="card-text"><small class="text-muted"><%= post[i].date %></small></p>
  </div>
<a href="#openModal">See More</a>
  <div id="openModal" class="modalPost"> 
    <!-- THIS IS WHAT WILL SHOW WITHIN THE MODAL ONCE IT OPENS -->
  </div>
</div>

        <%}%>
    
		</div>
	</main>





  
 <%- include('../partials/footer'); -%>