<%- include('../partials/header'); -%>

<!-- THIS IS WHERE WE WILL HAVE THE MODALS FOR POSTS -->
<div class="card mb-3">
  <img class="card-img-top" src=<%=posts.photoURL%> alt="Card image cap">
  <div class="card-body">
    <%=user.username%>
    <h5 class="card-title"><%=posts.caption%></h5>
    <p class="card-text">posts.status</p>
    <p class="card-text"><small class="text-muted"><%=posts.date%></small></p>
  </div>
<a href="#openModal">See More</a>
  <div id="openModal" class="modalPost"> 
    <!-- THIS IS WHAT WILL SHOW WITHIN THE MODAL ONCE IT OPENS -->
  </div>
</div>


<%- include('../partials/footer'); -%>