<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>
</head>
<body>
	<header>
		<h1>
			Edit Your Profile
		</h1>
		<nav>
			<h3>
				<a href="/auth/news_feed">Home</a>
			</h3>
		</nav>
	</header>
	<main>
		<%= foundUser.username %>
		<% for (let i = 0; i < post.length; i++) {%>
			<%= post[i].caption %><br>
			<img src="<%= post[i].photoURL %>"><br>
			<%= post[i].status %><br>
			<%= post[i].date %><br><br>
		<%}%>
	</main>
</body>
</html>